<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Automation Ezylinks application">


	<!-- environment Variables -->

	<listeners>

		<listener class-name="com.qa.extentreportlistner.ExtentReporterNG" />

     </listeners>
     
	<test name="EzyLinks application testing">


		<classes>

			<class name="com.ezl.qa.testcases.LoginPageTest"/>
			<class name="com.ezl.qa.testcases.HomePageTest"/>

			<class
				name="com.ezl.qa.testcases.PersonalLinesApplicantPageTest"/>
			<class name="com.ezl.qa.testcases.PolicyInfoPageTest"/>
			<class name="com.ezl.qa.testcases.DriversPageTest"/>

			<class name="com.ezl.qa.testcases.VehiclePageTest"/>



		</classes>



	</test> <!-- Test -->
</suite> <!-- Suite -->
